.arrow{
    font-size: 30px;
    /* padding: 5px 15px; */
    border-radius: 10px;
    display: flex;
    width: 50px;
    position: absolute;
    top: 130px;
}

.arrow-right{
    right: -25px;
}

.arrow-left{
    left: -50px
}